<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Careernet!</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <div class="jumbotron">
            <%= if Careernet.Session.logged_in?(@conn) do %>
              <h2><li><%= Careernet.Session.current_user(@conn).email %></li><h2>
              <h2><li><%= link "Logout", to: session_path(@conn, :delete), method: :delete %></li></h2>
            <% else %>
              <h2><li><%= link "Login",    to: "/login" %></li></h2>
              <h2><li><%= link "Register", to: registration_path(@conn, :new) %></li></h2>
            <% end %>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
